# UNIChro-seq Uni-directional Analysis

## Prepare Data and scripts

In [1]:
setwd("/home/ha7477/share/to_imgkono2/umi_scripts_v4")
source("uni-directional_analysis.R")

Warning message:
“ パッケージ ‘tidyr’ はバージョン 4.2.3 の R の下で造られました ”
Warning message:
“ パッケージ ‘lme4’ はバージョン 4.2.3 の R の下で造られました ”
Warning message:
“ パッケージ ‘Matrix’ はバージョン 4.2.3 の R の下で造られました ”
Warning message:
“ パッケージ ‘ggplot2’ はバージョン 4.2.3 の R の下で造られました ”

# REF to ALT edit from REF-homo donors
"edited allele" is REF

In [2]:
input_file1 <- "input_file_REF_to_ALT.txt"
data1 <- read.table(input_file1, header = TRUE, sep = "\t", stringsAsFactors = FALSE)
head(data1)

  Donor SNP        NON_EDITED_DNA_count EDITED_DNA_count non_edited_atac_count
1 S01   rs58107865 36617                11783             9104
2 S02   rs58107865 41940                23141             8561
3 S03   rs58107865 84216                29079             9469
4 S04   rs58107865 45385                12462             3739
5 S05   rs58107865 37834                 4828            11363
  edited_atac_count
1  5451
2 10115
3  6184
4  1871
5  2365

In [3]:
results1 <- run_analysis(data1)
head(results1)

  SNP        Effect_size SE         p_value
1 rs58107865 0.6230684   0.03909307 3.447993e-57

# ALT to REF edit from ALT-homo donors
"edited allele" is ALT

In [4]:
input_file2 <- "input_file_ALT_to_REF.txt"
data2 <- read.table(input_file2, header = TRUE, sep = "\t", stringsAsFactors = FALSE)
head(data2)

  Donor SNP        NON_EDITED_DNA_count EDITED_DNA_count non_edited_atac_count
1 S06   rs58107865 52671                5705             8966
2 S07   rs58107865 46944                9097             9178
  edited_atac_count
1  966
2 1807

In [5]:
results2 <- run_analysis(data2)
head(results2)

boundary (singular) fit: see help('isSingular')

  SNP        Effect_size SE         p_value
1 rs58107865 0.008075968 0.02048083 0.6933459

In [6]:
sessionInfo()

R version 4.2.1 (2022-06-23)
Platform: x86_64-conda-linux-gnu (64-bit)
Running under: Red Hat Enterprise Linux 8.8 (Ootpa)

Matrix products: default
BLAS/LAPACK: /rshare1/ZETTAI_path_WA_slash_home_KARA/home/ha7477/tools/miniconda3/envs/de/lib/libopenblasp-r0.3.21.so

locale:
 [1] LC_CTYPE=ja_JP.UTF-8       LC_NUMERIC=C
 [3] LC_TIME=ja_JP.UTF-8        LC_COLLATE=ja_JP.UTF-8
 [5] LC_MONETARY=ja_JP.UTF-8    LC_MESSAGES=ja_JP.UTF-8
 [7] LC_PAPER=ja_JP.UTF-8       LC_NAME=C
 [9] LC_ADDRESS=C               LC_TELEPHONE=C
[11] LC_MEASUREMENT=ja_JP.UTF-8 LC_IDENTIFICATION=C

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base

other attached packages:
[1] ggplot2_3.5.1  lmerTest_3.1-3 lme4_1.1-35.3  Matrix_1.6-5   tidyr_1.3.1
[6] dplyr_1.1.4

loaded via a namespace (and not attached):
 [1] Rcpp_1.0.12         nloptr_2.0.3        pillar_1.9.0
 [4] compiler_4.2.1      base64enc_0.1-3     tools_4.2.1
 [7] boot_1.3-30         digest_0.6.36       uuid_1.2-0
[10] gtable_0.3.5        jsonlite_1.8.8      evaluate_0.24.0
[13] lifecycle_1.0.4     tibble_3.2.1        nlme_3.1-160
[16] lattice_0.22-6      pkgconfig_2.0.3     rlang_1.1.4
[19] IRdisplay_1.1       cli_3.6.3           IRkernel_1.3.2
[22] fastmap_1.2.0       withr_3.0.0         repr_1.1.7
[25] generics_0.1.3      vctrs_0.6.5         grid_4.2.1
[28] tidyselect_1.2.1    glue_1.7.0          R6_2.5.1
[31] fansi_1.0.6         minqa_1.2.5         pbdZMQ_0.3-11
[34] purrr_1.0.2         magrittr_2.0.3      scales_1.3.0
[37] htmltools_0.5.8.1   splines_4.2.1       MASS_7.3-60.0.1
[40] colorspace_2.1-0    numDeriv_2016.8-1.1 utf8_1.2.4
[43] munsell_0.5.1       crayon_1.5.3